
<div id="wrapper" class="sidebar flex-column-nowrap">

    <body id="page-top">
        <!-- <div> <button>Login</button> </div>-->
            <!-- Page Wrapper -->
            <div id="wrapper">
        
                <!-- Sidebar -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                    <div align="center">
                        <img  width= "100px" heigth="50px"  src="./assets/pics/Logo.png" >
                    </div>
                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/emprende">
                        <div class="sidebar-brand-icon rotate-n-15">
                            
                        </div>
                        <div class="sidebar-brand-text mx-3">Emprende tu futuro</div>
        
        
                    </a>
        
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                  <!--  <div *ngIf=" tipo=='user'"> </div> -->
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                     <a class="nav-link" >
                           
                            <span>Administrador</span> </a>
                    </li>
        
                    <!-- Divider -->
                    <hr class="sidebar-divider">
        
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        CRUD
                    </div>
        
                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/administrador" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                           
                            <span>Gestión eventos</span>
                        </a>
                       
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                            aria-expanded="true" aria-controls="collapseUtilities">
                            <span>Gestión proyectos</span>
                        </a>   
                    </li>
        
                     <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                            aria-expanded="true" aria-controls="collapseUtilities">
                            <span>Estadísticas</span>
                        </a>   
                    </li>
        
                   
                   
        
                    <hr class="sidebar-divider">

                </ul>
        
               
        
        
                <!-- End of Sidebar -->
       </div>
       </body>