<div id="wrapper" class="sidebar flex-column-nowrap" class="form-group">

    <body id="page-top">
        <!-- <div> <button>Login</button> </div>-->
            <!-- Page Wrapper -->
            <div id="wrapper">
        
                <!-- Sidebar -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                    
                    <br>
                    <div align="center">
                        <img  width= "200px" heigth="100px"  src="./assets/pics/nav/Logo.png" >
                    
                        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                            <span>
                                Home
                            </span>  
                        </a>
                    </div>
                    <!-- Sidebar - Brand -->
                    
        
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                  <!--  <div *ngIf=" tipo=='user'"> </div> -->
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                     <a class="nav-link" >      
                            <span>Administrador</span> 
                    </a>
                    </li>
        
                    <!-- Divider -->
                    <hr class="sidebar-divider">
        
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        CRUD
                    </div>
        
                    <!-- Nav Item - Pages Collapse Menu -->
                    <br>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="/administrador" data-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                            <span>Gestión eventos</span>
                        </a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#"  data-target="#collapseUtilities"
                            aria-expanded="true" aria-controls="collapseUtilities">
                            <span>Gestión proyectos</span>
                        </a>   
                    </li>
                    <br>
                     <li class="nav-item">
                        <a class="nav-link collapsed" href="#"  data-target="#collapseUtilities"
                            aria-expanded="true" aria-controls="collapseUtilities">
                            <span>Estadísticas</span>
                        </a>   
                    </li>
                    <br>
        
                   
                   
        
                    <hr class="sidebar-divider">
                    <br>
                    <br>
                    <div align="center">
                        <img  width= "220px" heigth="350px"  src="./assets/pics/nav/cuerpo-academico.png" >
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div align="center">
                        <img  width= "220px" heigth="350px"  src="./assets/pics/nav/desa.png" >
                    </div>
                    <br>
                    <br>
                </ul>
             <!-- End of Sidebar -->
       </div>
       </body>