<style>
    .slide {
        position: relative;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
        margin-top: 26px;
    }

    .slide-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc( 300px + 3em);
    }

    .slide-open:checked + .slide-item {
        position: static;
        opacity: 100;
    }

    .slide-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }

    .slide-item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .slide-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 10;
    }

    .slide-control.prev {
        left: 2%;
    }

    .slide-control.next {
        right: 2%;
    }

    .slide-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

    #slide-1:checked ~ .control-1,
    #slide-2:checked ~ .control-2,
    #slide-3:checked ~ .control-3,
    #slide-4:checked ~ .control-4,
    #slide-5:checked ~ .control-5, 
    #slide-6:checked ~ .control-6,
    #slide-7:checked ~ .control-7,
    #slide-8:checked ~ .control-8,
    #slide-9:checked ~ .control-9,
    #slide-10:checked ~ .control-10, 
    #slide-11:checked ~ .control-11,
    #slide-12:checked ~ .control-12,
    #slide-13:checked ~ .control-13,
    #slide-14:checked ~ .control-14,
    #slide-15:checked ~ .control-15,
    #slide-16:checked ~ .control-16,
    #slide-17:checked ~ .control-17{
        display: block;
    }

    .slide-indicador {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .slide-indicador li {
        display: inline-block;
        margin: 0 5px;
    }

    .slide-circulo {
        color: #828282;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .slide-circulo:hover {
        color: #aaaaaa;
    }

    #slide-1:checked ~ .control-1 ~ .slide-indicador 
         li:nth-child(1) .slide-circulo,
    #slide-2:checked ~ .control-2 ~ .slide-indicador 
          li:nth-child(2) .slide-circulo,
    #slide-3:checked ~ .control-3 ~ .slide-indicador 
          li:nth-child(3) .slide-circulo,
    #slide-4:checked ~ .control-4 ~ .slide-indicador 
          li:nth-child(4) .slide-circulo, 
    #slide-5:checked ~ .control-5 ~ .slide-indicador 
          li:nth-child(5) .slide-circulo,
    #slide-6:checked ~ .control-6 ~ .slide-indicador 
         li:nth-child(6) .slide-circulo,
    #slide-7:checked ~ .control-7 ~ .slide-indicador 
          li:nth-child(7) .slide-circulo,
    #slide-8:checked ~ .control-8 ~ .slide-indicador 
          li:nth-child(8) .slide-circulo,
    #slide-9:checked ~ .control-9 ~ .slide-indicador 
          li:nth-child(9) .slide-circulo, 
    #slide-10:checked ~ .control-10 ~ .slide-indicador 
          li:nth-child(10) .slide-circulo,
    #slide-11:checked ~ .control-11 ~ .slide-indicador 
         li:nth-child(11) .slide-circulo,
    #slide-12:checked ~ .control-12 ~ .slide-indicador 
          li:nth-child(12) .slide-circulo,
    #slide-13:checked ~ .control-13 ~ .slide-indicador 
          li:nth-child(13) .slide-circulo,
    #slide-14:checked ~ .control-14 ~ .slide-indicador 
          li:nth-child(14) .slide-circulo, 
    #slide-15:checked ~ .control-15 ~ .slide-indicador 
          li:nth-child(15) .slide-circulo ,
    #slide-16:checked ~ .control-16 ~ .slide-indicador 
          li:nth-child(16) .slide-circulo ,
    #slide-17:checked ~ .control-17 ~ .slide-indicador 
          li:nth-child(17) .slide-circulo {
        color: #428bca;
    }

    #titulo {
        width: 100%;
        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
             -1px 0px 2px rgba(255, 255, 255, 0);
    }
</style>

<div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/exposicion1.JPG">
        </div>

        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/exposicion2.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/exposicion3.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-4" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/exposicion4.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-5" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/exposicion5.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-6" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/participantes1.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-7" 
                name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/participantes2.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-8" 
                name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/participantes3.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-9" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/participantes4.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-10" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/participantes5.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-11" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="../../../assets/pics/carrucel/participantes6.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-12" 
        name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
        <img src="../../../assets/pics/carrucel/participantes7.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-13" 
        name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
        <img src="../../../assets/pics/carrucel/participantes8.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-14" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
        <img src="../../../assets/pics/carrucel/emprende.JPG">
        </div>

        <input class="slide-open" type="radio" id="slide-15" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
        <img src="../../../assets/pics/carrucel/principal.jpeg">
        </div>

        <input class="slide-open" type="radio" id="slide-16" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
        <img src="../../../assets/pics/carrucel/cuerpo academico.jpg">
        </div>

        <input class="slide-open" type="radio" id="slide-17" 
        name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
        <img src="../../../assets/pics/carrucel/Bienvenida.png">
        </div>
       
        <label for="slide-17" class="slide-control next control-16">›</label>
        <label for="slide-17" class="slide-control prev control-1">‹</label>
        

        <label for="slide-16" class="slide-control next control-15">›</label>
        <label for="slide-16" class="slide-control prev control-17">‹</label>
       
        <label for="slide-15" class="slide-control next control-14">›</label>  
        <label for="slide-15" class="slide-control prev control-16">‹</label>
        
        <label for="slide-14" class="slide-control next control-13">›</label>
        <label for="slide-14" class="slide-control prev control-15">‹</label>

        <label for="slide-13" class="slide-control next control-12">›</label>
        <label for="slide-13" class="slide-control prev control-14">‹</label>

        <label for="slide-12" class="slide-control next control-11">›</label>
        <label for="slide-12" class="slide-control prev control-13">‹</label>

        <label for="slide-11" class="slide-control next control-10">›</label>
        <label for="slide-11" class="slide-control prev control-12">‹</label>

        <label for="slide-10" class="slide-control next control-9">›</label>
        <label for="slide-10" class="slide-control prev control-11">‹</label>

        <label for="slide-9" class="slide-control next control-8">›</label>
        <label for="slide-9" class="slide-control prev control-10">‹</label>

        <label for="slide-8" class="slide-control next control-7">›</label>
        <label for="slide-8" class="slide-control prev control-9">‹</label>

        <label for="slide-7" class="slide-control next control-6">›</label>
        <label for="slide-7" class="slide-control prev control-8">‹</label>

        <label for="slide-6" class="slide-control next control-5">›</label>
        <label for="slide-6" class="slide-control prev control-7">‹</label>

        <label for="slide-5" class="slide-control next control-4">›</label>
        <label for="slide-5" class="slide-control prev control-6">‹</label>

        <label for="slide-4" class="slide-control next control-3">›</label>
        <label for="slide-4" class="slide-control prev control-5">‹</label>

        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-3" class="slide-control prev control-4">‹</label>

        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>

        <label for="slide-1" class="slide-control next control-17">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>


        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-4" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-5" class="slide-circulo">•</label>
            </li>

            <li>
                <label for="slide-6" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-7" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-8" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-9" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-10" class="slide-circulo">•</label>
            </li>

            <li>
                <label for="slide-11" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-12" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-13" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-14" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-15" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-16" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-17" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>

